@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; 
}

.heading {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0; 
}

.container {
  margin-top:  70px; 
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(54deg, rgba(9,38,106,1) 29%, rgba(40,178,255,1) 79%);
}
.container{
  position: relative;
  width: 400px;
  height: 100px;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(545px);
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 16px;
  padding: 20px;
  color: white;
  transition: height .6s ease;
}
.search-box
{
  position: relative;
  width: 100%;
  height: 55px;

  display: flex;
  justify-content: center;
  align-items:center ;
  border-radius: 10px;
}
.search-box input{
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border:2px solid rgba(255, 255, 255, .2);
  outline: none ;
  border-radius: 10px;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding:  0 48px 0 42px;

}
.search-box input::placeholder{
  text-transform: capitalize;
  color: white;
}
.search-box button{

  position: absolute;
  right: 0;
  width: 40px;
  height: 100px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 28px;
  color: white;
  padding: 0 40px 0 5px;
  cursor: pointer;


}
.search-box .bx{
  margin-left: -311px;
  color: white;
  font-size:28px ;

}
.weather-box{
  text-align: center;
  margin: 40px 0;

}
.weather-box,
.weather-details,
.not-found{
  overflow: hidden;
  visibility: hidden;
}
.weather-box.active,
.weather-details.active,
.not-found.active{
  visibility: visible;
}
.weather-box .box,
.not-found .box{
  transform: translateY(-100%);
}
.weather-box.active .box,
.not-found.active .box{
  transform: translateY(0%);
  transition: transform 1s ease;
  transition-delay: .6s;
}
.weather-box img{
  width: 60%;

}
.weather-box .temperature{
  position: relative;
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
  margin: 20px 0 6px -30px;

}
.weather-box .temperature span{
  position: absolute;
  font-size: 24px;
  margin-left: 4px;

}
 .weather-box .description{
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 500;
 }
 .weather-details{
  position: absolute;
bottom: 25px;
left: -5px; 
width: 100%;
padding: 0 54px;
display: flex;
justify-content: space-evenly;
}

.weather-details .humidity,
.weather-details .wind {
  display: flex;
  align-items: center;
  width: 50%;

}
.weather-details .humidity{
padding-left: 20px;
justify-content: flex-end;
  width: 50%;

}

.weather-details .wind{

  justify-content: flex-end;
  width: 50%;

}

.weather-details {
  font-size: 45px;
  margin-right: 10px;

}
.weather-details span{
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  

}
.weather-details p{
  font-size: 14px;
  font-weight: 500;
padding: 0px;

}
.not-found{
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  margin-top: 110px;
}
.not-found img{
  width: 65%;

}
.not-found p{
  font-size:22px ;
  font-weight: 500;
  margin-top: 12px;
}
